<div class="modal fade" id="botClaimModal" tabindex="-1" role="dialog" aria-labelledby="botClaimModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="botClaimModalLabel"></h5>
      </div>

      <div class="modal-body">
        <p id="botClaimExplainer"></p>
        <form>
          <div class="form-group row">
            <label for="botClaimCount" class="col-10 col-form-label" id="botClaimCountLabel"></label>
            <div class="col-2">
              <input class="form-control" type="number" id="botClaimCount" value="-1" size="3">
            </div>
          </div>
        </form>
        <p id="botClaimStatus" class="hidden borderBox">
          <span id="botIsWorking"></span>
          <span id="botStoppedWithError" class="hidden">
          </span>
        </p>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="botClaimStart"></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="botClaimClose"></button>
      </div>
    </div>
  </div>
</div>
